page-home {
    .logo {
        font-size: 300%;
        text-align: center;
        font-weight: bold;
    }
    img.logo {
        display: block;
        width: auto;
        height: 25vh;
        margin-left: auto;
        margin-right: auto;
    }
}